@layer info {
  .info-grid {
    grid-template-areas:
      "skip"
      "image"
      "card";
  }

  .grid-area-skip {
    grid-area: skip;
  }

  .grid-area-image {
    grid-area: image;
  }

  .grid-area-card {
    grid-area: card;
  }

  .info-card {
    border-top-left-radius: 70% 40%;
  }

  .info-card {
    border-top-right-radius: 70% 40%;
  }

  .no-scrollbar {
    scrollbar-width: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
